@media only screen and (max-width: 717px) {

    header {
        order: 0;
    }

    main {
        height: auto;
        order: 1;
    }

    footer {
        order: 3;
    }
}


@media only screen and (max-width: 1245) {
    body {
        overflow-x: hidden;
    }

}

@media only screen and (max-width: 1250px) {

    body {
        overflow-x: hidden;
    }

    #OpenMenu,
    #CloseMenu {
        display: block;
    }

    #OpenMenu {
        margin-left: auto;
        color: white;
    }

    #CloseMenu {
        position: fixed;
        right: 15px;
        top: 15px;
        color: white;
    }

    #menu {
        z-index: 2;
        position: absolute;
        flex-direction: column;
        width: 100vw;
        height: 200%;
        background: rgb(0, 26, 36);
        background: linear-gradient(90deg, rgba(0, 26, 36, 1) 0%, rgba(16, 16, 16, 1) 49%, rgba(0, 26, 36, 1) 100%);
        align-items: center;
        font-size: medium;
        display: none;
        opacity: 1;
        transition: 0.3s;
    }


    #menu .menu {
        margin: 30px;
        flex-direction: column;
    }

    #menu .menu li {
        display: flex;
        padding: 5px;
        justify-content: center;
    }

    #menu .menu li:hover {
        font-family: 'Codygoon', sans-serif;
        border-radius: 20px;
        background-color: rgba(0, 36, 40, 0.258);
        transform: translateY(10px);
        transition: background-color 0.2s ease, transform 0.2s ease;
    }


    .cabecalho .logo {
        height: 50px;

    }

    .home::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .7) 70%, transparent 90%);
 
    }

    .home .informacoes {
        padding: 1px;
    }

    .home .informacoes .texto, .home .informacoes .titulo {
        padding-right: 10%;
        padding: 3%;
    }

    .sessoes .quem-somos .texto{
        text-align: end;

    }

    .sessoes .quem-somos .equipe-vanguard {
        height: 200px;
        margin-top:20%;
    }

    .sessoes .parcerias .parcerias-img {
        height: 250px;

    }
}

@media only screen and (max-width: 718px) {
    body {
        overflow-x: hidden;
    }

    .cabecalho .logo {
        height: 30px;
    }

}

@media only screen and (max-width: 717px) {
    footer {
        height: 150px;
    }

}

@media only screen and (max-width:700px) {
    body {
        overflow-x: hidden;
    }
}