body {
    background-color: rgb(12, 12, 12);
    color: #fff;
}

.cabecalho {
    height: 80px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex: 1 1 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid rgb(26, 25, 25);
}

.cabecalho .logo {
    display: flex;
    gap: 30px;
    height: 55px;
}

.cabecalho .menu {
    display: flex;
    flex: 1 1 200px;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}


.cabecalho .menu li a {
    padding: 30px;
    color: #e8e8e8;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Codygoon';
}

.cabecalho .menu li a:hover {
    border-bottom: 2px solid white;

}

.home {
    display: flex;
    position: relative;
    min-height: calc(100vh - 80px);
    overflow: hidden;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1;
}



.home::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .7) 45%, transparent 70%);
}

.home .imagem-fundo {
    width: 100%;
    object-fit: cover;
}


.home:hover::before {
    background-color: rgba(0, 0, 0, 0);
}


.home .informacoes {
    position: absolute;
    z-index: 1;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 80px 80px 80px 100px;
    max-width: 780px;
}

.home .informacoes img {
    max-width: 150px;
}

.home .informacoes .titulo {
    font-family: 'Codygoon';

}

.home .informacoes .texto {
    font-family: 'Milestone One';
    font-size: xx-large;
}

.sessoes {
    margin: 2%;
}

.btn-quem-somos {
    
    transition: transform 0.5s ease-in-out;

}

.sessoes .quem-somos .titulo-quem-somos {
    text-align: center;
    margin-left: 60%;
    border-radius: 6px;
    font-family: 'Codygoon', sans-serif;
    margin-top: 5%;
}

.sessoes .quem-somos .texto {
    border-radius: 6px;
    text-align: right;
    font-size: larger;
    margin-top: 2%;
    margin-left: 60%;
    padding: 10px 10px 10px 10px;
    font-family: 'Milestone One';
}

.sessoes .quem-somos .equipe-vanguard {
    float: left;
    transition: transform 0.5s ease-out;
    margin-bottom: 9%;
    margin-left: 4%;
    position: relative;

}

.sessoes .quem-somos .equipe-vanguard:hover {

    transform: translateY(-5px);
    transition: 0.5s ease, transform 0.5s ease;
    box-shadow: 5px 5px 10px rgb(11, 81, 220);
    transform: scale(1.1);
}

.sessoes .group .texto {
    display: flex;
    margin-right: 5%;
    font-size: 25px;
    gap: 32px;
}

.sessoes .parcerias .titulo-parcerias {
    text-align: center;
    padding-top: 15%;
    margin-right: 60%;
    border-radius: 6px;
    font-family: 'Codygoon', sans-serif;
}


.sessoes .parcerias .texto {
    text-align: left;
    font-size: 25px;
    margin-top: 2%;
    margin-right: 50%;
    margin-left: 5%;
    font-family: 'Milestone One';
}

.sessoes .parcerias .parcerias-img {
    float: right;
    margin-top: 15%;
    margin-right: 5%;
    transition: transform 0.5s ease-out;
    position: relative;
}


.sessoes .parcerias .parcerias-img:hover {
    transform: translateY(-5px);
    transition: 0.5s ease, transform 0.5s ease;
    box-shadow: 5px 5px 10px rgb(0, 167, 42);
    transform: scale(1.1);
}

/* trabalhar em cima dos icones de redes sociais*/




.roda-pe {
    height: auto;
    display: grid;
    margin: auto;
    width: 100%;
    padding-top: 3%;
    flex: 1 1 100vw;
    background-color: #1a1a1a;
}

.roda-pe .btn-veja {
    color:#fff;
    background-color: transparent;
    border: 0.5px solid #fff;
    border-radius: 4px;
    font-family: '';
    width: 25%;
    font-size: 15px;
    text-align: center;
    margin: 2%;
    font-family: 'Codygoon';
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all .2s ease-in;
}

.roda-pe .btn-veja:hover{
    background-color: #b1b1b1;
    color: black;
    cursor: pointer;
}



.roda-pe .btn-veja .lista {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 30px;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    transition: all .3s ease-in;
    display: none;
    opacity: 0;
}

.roda-pe .btn-veja .lista li {
    padding: 20px;

}

.roda-pe .btn-veja:hover .lista li:hover {
    border-bottom: 2px solid black;

}

.roda-pe .btn-veja .lista.ativo {
    display: flex;
    opacity: 1;
}


.roda-pe .logo {
    margin-left: 7%;
    margin-bottom: 3px;
}



.roda-pe .social_media {
    display:flex;
    position: relative;
    align-items: center;
}

.roda-pe .subtitulo {
    display: flex;
    margin-left: 1pc;
    font-size: 15px;
    margin-bottom: 1pc;
    font-family: 'Codygoon', sans-serif;

}

.roda-pe .social_media a {
    position:relative;
    display:flex;
    margin-left: 13px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px 2px 1px 5px;
    background-color:#ffffff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
}

.roda-pe .social_media a:hover .balloon {
    top: -75px;
    opacity: 1;
    justify-content: center;
    align-items: center;
}
/*
Cores que variam de acordo com a rede social (cores de fundo)
*/

.roda-pe .social_media #facebook:hover {
    transform: scale(1.1);
    background: rgb(255,255,255);
    background: linear-gradient(31deg, rgba(255,255,255,1) 0%, rgba(98,223,255,1) 23%, rgba(0,172,255,1) 44%, rgba(47,128,255,1) 74%, rgba(81,91,255,1) 100%);
}

.roda-pe .social_media #instagram:hover {
    transform: scale(1.1);
    background: rgb(255,209,0);
    background: linear-gradient(23deg, rgba(255,209,0,1) 0%, rgba(255,136,0,1) 22%, rgba(227,4,4,1) 53%, rgba(185,6,178,1) 78%);
}

.roda-pe .social_media #discord:hover {
    transform: scale(1.1);
    background: rgb(87,81,255);
    background: linear-gradient(35deg, rgba(87,81,255,1) 0%, rgba(157,95,255,1) 100%);
}

.roda-pe .social_media #Linkedin:hover {
    transform: scale(1.1);
    background-color: aqua;
}

.roda-pe .social_media #Telegram:hover {
    transform: scale(1.1);
    background-color: aqua;
}

/*
 Cores que variam de acordo com a rede social (sombra da imagem)
*/

.roda-pe .social_media #facebook:hover img{
    transform: scale(1.1);
    transition: 0.3s ease, transform 0.3s ease;
    filter: drop-shadow( 3px 3px rgb(5, 98, 144));
}

.roda-pe .social_media #instagram:hover img{
    transform: scale(1.1);
    transition: 0.3s ease, transform 0.3s ease;
    filter: drop-shadow( 3px 3px rgb(95, 32, 32));
}


.roda-pe .social_media #discord:hover img{
    transform: scale(1.1);
    transition: 0.3s ease, transform 0.3s ease;
    filter: drop-shadow( 3px 3px rgb(57, 32, 95));
}

.roda-pe .social_media img {
    height: 40px;

}



.compre-ja {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    align-items: center;
}

.compre-ja .titulo {
    font-family: 'institution';
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}

.compre-ja .cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 50%;
    border-radius: 10px;
    padding: 80px;
    gap: 40px;
}

.compre-ja .informacoes {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.compre-ja .informacoes h3 {
    font-family: 'institution';
    font-size: 52px;
    font-weight: 700;
}

.compre-ja .informacoes p {
    color: #e8e8e8;
    font-family: 'evogria';
    font-size: 16px;
    line-height: 1.6;
}


.compre-ja .btn-plataforma .plataformas li {
    padding: 20px;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(1) {
    border: 3px solid black;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(1) {
    border: 3px solid #00339c;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(2) {
    border: 3px solid rgb(0, 153, 255);
}

.compre-ja .btn-plataforma .plataformas li:nth-child(3) {
    border: 3px solid rgb(0, 153, 255);
}

.compre-ja .btn-plataforma .plataformas li:nth-child(4) {
    border: 3px solid rgb(0, 255, 76);
}

.compre-ja .btn-plataforma .plataformas li:nth-child(5) {
    border: 3px solid rgb(21, 255, 0);
}

.compre-ja .btn-plataforma .plataformas li:nth-child(6) {
    border: 3px solid rgb(17, 102, 0);
}