@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --blue:#2980b9;
   --red:tomato;
   --orange:orange;
   --black:#333;
   --white:#fff;
   --bg-color:#eee;
   --dark-bg:rgba(0,0,0,.7);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --border:.1rem solid #999;
}

html{
   font-size: 72.5%;
   overflow-x: hidden;
}


*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

section{
   padding:2rem;
}


.message{
   background-color: var(--blue);
   position: sticky;
   top:0; left:0;
   z-index: 10000;
   border-radius: .5rem;
   background-color: var(--white);
   padding:1.5rem 2rem;
   margin:0 auto;
   max-width: 1200px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap:1.5rem;
}

.message span{
   font-size: 2rem;
   color:var(--black);
}

.message i{
   font-size: 2.5rem;
   color:var(--black);
   cursor: pointer;
}

.message i:hover{
   color:var(--red);
}

.cabecalho {
   height: 80px;
   background-color: rgb(0, 0, 0);
   display: flex;
   flex: 1 1 100vw;
   justify-content: space-between;
   align-items: center;
   padding: 0 30px;
   border-bottom: 1px solid rgb(26, 25, 25);
}

.cabecalho .logo {
   display: flex;
   gap: 30px;
   height: 55px;
}

.cabecalho .menu {
   display: flex;
   flex: 1 1 200px;
   align-items: center;
   justify-content: flex-end;
}


.cabecalho .menu a {
   padding: 30px;
   color: #e8e8e8;
   font-weight: bolder;
   font-size: 15px;
   font-family: 'Codygoon';
}

.cabecalho .menu a:hover {
   border-bottom: 2px solid white;

}

.container{
   max-width: 1200px;
   margin:0 auto;
   /* padding-bottom: 5rem; */
}

.home {
   display: flex;
   position: relative;
   overflow: hidden;
   margin-top: 5px;
   background-image: url(../imagem/Fundo/fundo-estoque.jpg);
   border: 1px solid #fff;
   background-size: cover;
}

.home::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 1;
   z-index: 1;
}


.home::after {
   content: '';
   position: absolute;
   height: 100%;
   width: 100%;
   background: linear-gradient(40deg, rgba(0, 0, 0, 0.275), rgba(0, 0, 0, 0.275) 100%, transparent 100%);
}

.home .imagem-fundo {
   width: 100%;
   object-fit: cover;
}

.option a{ 
   font-size: 79%;
   width: auto;
   border-radius: 20px;
}

.option #delete{ 
   display: flex;
   font-size: 80%;
   width: 100px;
   height: auto;
   margin-bottom: 10px;
   padding: 5px;
   border-radius: 20px;
}

 td {
   color: #fff;
}

 

.add-product-form{
   z-index: 1;
   max-width: 50rem;
   background-color: var(--bg-color);
   border-radius: .5rem;
   padding:2rem;
   margin:0 auto;
   margin-top: 2rem;
}

.add-product-form h3{
   font-size: 2.5rem;
   margin-bottom: 1rem;
   color:var(--black);
   font-family: 'Eingrantch Mono';
   text-transform: uppercase;
   text-align: center;
}

.add-product-form .box{
   text-transform: none;
   padding:1.2rem 1.4rem;
   font-size: 1.7rem;
   color:var(--black);
   border-radius: .5rem;
   background-color: var(--white);
   margin:1rem 0;
   width: 100%;
}

.display-product-table table{
   width: 100%;
   text-align: center;
}

.display-product-table table thead th{
   padding:1.5rem;
   font-size: 2rem;
  }

.display-product-table table td{
   padding:1.5rem;
   margin-top: 2pc;
   font-size: 2rem;
   color:#fff;
}


.display-product-table .empty{
   margin-bottom: 2rem;
   text-align: center;
   font-size: 2rem;
   padding:1.5rem;
}

.edit-form-container{
   position: fixed;
   top:0; left:0;
   z-index: 1100;
   background-color: var(--dark-bg);
   padding:2rem;
   display: none;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   width: 100%;
}

.edit-form-container form{
   width: 50rem;
   border-radius: .5rem;
   background-color: var(--white);
   text-align: center;
   padding:2rem;
}

.edit-form-container form .box{
   width: 100%;
   background-color: var(--bg-color);
   border-radius: .5rem;
   margin:1rem 0;
   font-size: 1.7rem;
   color: black;
   padding:1.2rem 1.4rem;
   text-transform: none;
}

.products .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap:1.5rem;
   justify-content: center;
}

.products .box-container .box{
   text-align: center;
   padding:2rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   border-radius: .5rem;
}

.products .box-container .box img{
   height: 25rem;
}

.products .box-container .box h3{
   margin:1rem 0;
   font-size: 2.5rem;
   color:var(--black);
}

.products .box-container .box .price{
   font-size: 2.5rem;
   color:var(--black);
}




/* media queries  */

@media (max-width:1200px){

   .shopping-cart{
      overflow-x: scroll;
   }

   .shopping-cart table{
      width: 120rem;
   }

   .shopping-cart .heading{
      text-align: left;
   }

   .shopping-cart .checkout-btn{
      text-align: left;
   }

}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
      transition: .2s linear;
   }

   #menu-btn.fa-times{
      transform: rotate(180deg);
   }

   .cabecalho .flex .menu{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: red;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: .2s linear;
   }

   .cabecalhocabecalho .flex .menu.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }

   .cabecalho .flex .menu a{
      margin:2rem;
      display: block;
      text-align: center;
      font-size: 2.5rem;
   }

   .display-product-table{
      overflow-x: scroll;
      
   }

   .display-product-table table{
      width: 90rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading{
      font-size: 3rem;
   }

   .products .box-container{
      grid-template-columns: 1fr;
   }

}